# DATABASE
POSTGRES_USER = "username"
POSTGRES_DATABASE = "dbname"
POSTGRES_PASSWORD = "password123"
POSTGRES_HOST = "host" # Can be postgres service name in docker compose

# JWT
SECRET_KEY = "secret_key"
JWT_ALGORITHM = "algorithm"
ACCESS_TOKEN_EXPIRE_MINUTES = 30